<!doctype html>
<html>

<head>
	<title>DSF</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='result.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='bg3.jpg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="hero2">
	</div>
		<div class="form-box">
			
		{% if results %}

        <form>
            
            {% if st %}
            <article>
                {% if k %}
                    <h1>Presence of word</h1>
                    <p> "{{k}}"</p>
                {% endif %}
            </article>
            <br>
            <table border='1px' >
                <tr>
                    <th >Documents</th>
                    <th >Score(in %)</th>
                </tr>
                {% for key, value in st.items() %}
                   <tr>
                        <td > {{ key }} </td>
                        <td > {{ value }} </td>
                   </tr>
                {% endfor %}
                </table>
                {% endif %}
        </form>
        
        
        {% endif %}
			
		
				
		</div>
		
	

		
	
</body>

</html>
	
	
	