
<html>

  <head>
    <title>Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='bg3.jpg') }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    <div class="hero">
          
      <div class="form-box">
             
                  <div id="ifno" style="display:bock">
                      <form action="{{ url_for('addRegion') }}" method="post" enctype="multipart/form-data">
                          <br><br><br><br><br>
                          <label for="files" style="text-align: center;">Select minimum 2 text files:</label>
                          <br><br><br><br>
                          <input type="file" id="files" name="files" multiple placeholder="File" required style="text-align: center;"><br><br>
                          <br><br><br><br><br><br><br><br>
                          <input type="submit" class="submit-btn" name="submit" value="Submit" />
                      </form>
                      
                  </div>
              </div>
      </div>
  
      
    
  </body>
  
  </html>
    
    
    