<!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="{{ url_for('static', filename='bg3.jpg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <title>DSF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="bg-image"></div>

<div class="bg-text">
  <h2>DSF</h2>
  <h1 style="font-size:45px">Document Similarity Framework</h1>
  <p style="font-size:20px; color:rgb(243, 240, 240);">A framework to compare similarity between documents</p>
  <a href="{{ url_for('about') }}"><button class="button"> Get Started</button></a>
</div>

</body>
</html>
